body {
    margin:auto;
    width:70%;
}
.header {
    width:80%; 
    padding-top:20px;
    padding-bottom:20px;
    background-color:#ff1400;
}
.content_container {
}
.footer {
}

ul > .odd {
    background-color: #fff;
    font-color: #000;
}
ul > .even {
    background-color: #000;
    font-color: #fff;
}
