{% extends 'base.html' %}

{% block title %} Leden {% endblock %}

{% block head %} {{ super() }} {% endblock %}
{% block content %} 
        <div class='personalia'> 
            <div class='name'> {{ user['name'] }} </div>
            <div class='address'>
            {{ user['address']['street'] + ' ' + user['address']['housenumber'] }} <br />
                    {{ user['address']['zipcode'] + ' ' + user['address']['city'] }} <br />
            </div>
            {{ user['phonenumber'] }} <br />
            {{ user['birthday'] }}
        </div>
{% endblock %}
